<% if (userinfos.length) { %>
      <% userinfos.forEach(function(userinfo){ %>
        <tr>
          <td><%= userinfo['workname'] %> </td>
           <td> <%= userinfo['contentname'] %>
          <a href="" class="read"  rel=<%= userinfo['_id']%>>VIEW</a>
           <a href="" class="delete" rel=<%= userinfo['_id']%>>DEL</a>
           <a href="" class="update" rel=<%= userinfo['_id']%>>EDIT</a></td>
        </tr>
    <% }) %>
<% } %>
